body {
    position: relative;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.dropdown {
    margin-bottom: 200px;
}

.dropdown-menu.open {
    display: block;
}

form {
    margin-bottom: 30px;
}

.result {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.btn-scroll {
    display: none;
    position: absolute;
    bottom: 15px;
    font-size: 20px;
    right: 15px;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: blue;
}

.btn-scroll::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 15px;
    right: 17.7px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(45deg);
}

.btn-scroll.active {
    display: block;
}

.test {
    margin-bottom: 100px;
}